# #Force GRUB to use classic text mode instead of a graphical terminal
# terminal_output console
#
# # Explicitly tell the kernel payload to stay in text mode
# set gfxpayload=text

menuentry "OS" {
  multiboot /boot/kernel
  boot
}
